* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.container {
  max-width: 1512px;
  margin: 0 auto;
}

header {
  background: url("images/Gradient.png"), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
}


.navbar{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  align-items: center;
}

.navbar1{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 64px;
}
.nav-links1 {
  display: flex;
  gap: 64px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.nav-links1 a {
  text-decoration: none;
  color: black;
  font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.nav-btn a {
  padding: 16px 35px;
  border-radius: 28.192px;
  background-color: #0D0029;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.head-text {
  display: flex;
  flex-direction: column;
  margin-top: 74px;
  max-width: 1093px;
}

.head-text h1 {
  font-size: 91.324px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.head-text p {
  font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 180% */
}

.head-links {
  margin-top: 48px;
  display: flex;
  align-items: center;
  gap: 39px;
}

.second {
  display: flex;
  align-items: center;
  gap: 12px;
}

.a1 a{
   padding: 16px 56px;
   border-radius: 28.192px;
   background: #0D0029;
   text-decoration: none;
   color: #fff;
   font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.second a {
  text-decoration: none;
  color: #0D0029;
  font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.flow {
  display: flex;
  margin-left: 129px;
  position: relative;
}

.flower {
  position: absolute;
  left: 900px;
  top: 100px;
  width: 623px;
height: 601px;
}

.visual {
  display: flex;
  margin-top: 217px;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(360deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);

}



.visual p {
  font-size: 55.243px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

/* main is started */

.story-our {
  display: flex;
  margin-top: 145px;
  justify-content: space-around;
  gap: 70px;

}

.we-are {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}

.story-our h2 {
  font-size: 55.243px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.story-our h3{
  font-size: 45.672px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.story-our h4 {
  font-size: 40.24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.our-txt {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.story-our p {
  color: #6F6F6F;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 180% */
}



.box-carbon {
 max-width: 1512px;
max-height: 577px;
background: #0B304A;
padding: 82px 128px;
}

.box-carbon h2 {

  color: rgba(255, 255, 255, 0.80);
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.identity {
  margin-top: 73px;
  display: flex;
  gap: 515px;
  margin-bottom: 18px;
}

.algo h4 {
  color: #FFF;
font-size: 28.333px;
font-style: normal;
line-height: normal;
}

.page {
  display: flex;
  align-items: center;
}

.page-img {
  margin-left: 218px;
  margin-right: 62px;
}

.page-img2 {
  margin-left: 175px;
  margin-right: 64px;
}

.page-img3 {
  margin-left: 155px;
}

.page-img4 {
  margin-left: 209px;
}

.vis-iden {
  color: rgba(234, 112, 74, 0.80);
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.web-iden {
  color: rgba(163, 163, 163, 0.80);
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.illus {
  color: rgba(100, 122, 236, 0.80);
  margin-right: 38px;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.created {
  margin-top: 190px;
  display: flex;
  justify-content: space-around;
}

.crea-text {
  margin-top: 36px;
}

.crea-text h2 {
  color: #0D0029;
font-size: 45.672px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.crea-text p {
  margin-top: 18px;
  color: #6F6F6F;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 180% */
margin-bottom: 33px;
}

.crea-text a {
  padding: 16px 56px;
  border-radius: 28.192px;
background: #0D0029;
text-decoration: none;
color: #FFF;
}

.theame {
  margin-top: 200px;
  display: flex;
  margin-left: 216px;
  gap: 370px;
}

.theame h3 {
  color: #0D0029;
text-align: center;
font-size: 45.672px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.likes-brand {
  display: flex;
  margin-top: 56px;
  margin-left: 126px;
  align-items: center;
  gap: 181px;
}

.likes {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.likes h4 {
color: #000;
font-size: 32.222px;
font-style: normal;
font-weight: 500;
line-height: 58px; /* 180% */
}

.agency-box {
  background-color: #0B304A;
  max-width: 100%;
  max-height: 413px;
  flex-shrink: 0;
  margin-top: 118px;
}

.agency-box h3 {
  padding-top: 75px;
  margin-left: 138px;
  color: #FFF;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 28px;
}

.box-ipsum {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 103px;
}

.box-ipsum p{
  color: #E7E7E7;

font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 180% */
}

.box-ipsum  a {
  padding: 20px 38px;
  border-radius: 28.192px;
background: #D1094A;
text-decoration: none;
color: #FFF;
}

footer {
  background: url("images/Gradientfooter.png"), lightgray 50% / cover no-repeat;
}

.link-icons {
  display: flex;
  gap: 15px;
}

footer h4 {
padding-top: 173px;
  color: #595959;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;

}

footer h3 {
  color: #000;
text-align: center;
margin-top: 19px;
margin-bottom: 13px;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

footer p {
  color: #6F6F6F;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 180% */
margin-bottom: 134px;
}